Repository tokuzou0829/twitter-clone: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{ts,tsx,js,jsx,json,css,scss}"
      run: |
        npx biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
      fail_text: "Biomeエラーがあります。修正してください。"
    prettier:
      glob: "*.{md,yml}"
      run: |
        npx prettier -w {staged_files}
      stage_fixed: true
      fail_text: "Prettierエラーがあります。修正してください。"
    eslint:
      glob: "*.{ts,tsx,js,jsx}"
      run: |
        npx eslint {staged_files} --fix
      stage_fixed: true
      fail_text: "ESLintエラーがあります。修正してください。"

リンクプレビューを実装
  components/link-preview-card.tsx
  components/post-composer.tsx
  components/post-detail-page.tsx
  components/post-feed-item.tsx
  components/search-page.tsx
  components/timeline-feed.tsx
  db/migrations/0006_brave_clea.sql
  db/migrations/meta/0006_snapshot.json
  db/migrations/meta/_journal.json
  db/schema.ts
  lib/post-content.ts
  lib/social-api.ts
  server/hono-app.ts
  server/routes/link-previews.test.ts
  server/routes/link-previews.ts
  server/routes/posts.test.ts
  server/routes/posts.ts
  server/routes/shared/social.ts
Due: biome, eslint

メタデータの説明文を日本語に更新
  app/layout.tsx
  app/manifest.ts
Due: biome, eslint

日本語〜
  app/layout.tsx
Due: biome, eslint

OpenGraph画像のメタ情報処理を改善し、URLの生成を修正
  app/posts/[postId]/opengraph-image.tsx
  app/posts/[postId]/page.tsx
  app/posts/[postId]/post-og.ts
Due: biome, eslint

著者名を含む説明文を生成する機能を追加し、OGPペイロードに著者のバイラインを統合
  app/posts/[postId]/post-og.ts
Due: biome, eslint

YouTubeリンクのoEmbed取得機能を追加し、OGP取得へのフォールバックを実装
  server/routes/link-previews.test.ts
  server/routes/link-previews.ts
Due: biome, eslint

YouTube埋め込み機能を追加し、リンクプレビューでの表示を改善
  components/link-preview-card.tsx
Due: biome, eslint

feat: add developer API routes for token management and profile handling
  README.md
  app/developer/api-tokens/page.tsx
  app/developer/docs/page.tsx
  app/developer/link-preview/page.tsx
  app/developer/page.tsx
  app/posts/[postId]/post-og.ts
  components/developer-api-token-manager.tsx
  components/developer-portal-page.tsx
  db/migrations/0008_tidy_shard.sql
  db/migrations/0009_bored_lady_mastermind.sql
  db/migrations/meta/0008_snapshot.json
  db/migrations/meta/0009_snapshot.json
  db/migrations/meta/_journal.json
  db/schema.ts
  docs/developer-api.md
  lib/social-api.ts
  package.json
  pnpm-lock.yaml
  server/hono-app.ts
  server/routes/developer.test.ts
  server/routes/developer.ts
Due: biome, prettier, eslint

コミュニティーの健全性を保つためのアップデート
  README.md
  db/migrations/0010_faithful_thaddeus_ross.sql
  db/migrations/meta/0010_snapshot.json
  db/migrations/meta/_journal.json
  db/schema.ts
  lib/auth.ts
  package.json
  scripts/ban-ip.mjs
  scripts/ban-user.mjs
  scripts/delete-posts.mjs
  server/middleware/auth.ts
  server/routes/auth.test.ts
  server/routes/developer.test.ts
  server/routes/developer.ts
  server/routes/users.test.ts
  tests/vitest.helper.ts
Due: biome, prettier, eslint

feat: add user search functionality
  components/search-page.tsx
  lib/social-api.ts
  server/routes/search.test.ts
  server/routes/search.ts
Due: biome, eslint

feat: add text escaping functionality
  server/routes/search.ts
Due: biome, eslint

feat: add button control
  components/post-detail-page.tsx
  components/post-feed-item.tsx
  components/timeline-feed.tsx
Due: biome, eslint

リンクの修正
  components/post-feed-item.tsx
Due: biome, eslint

通知タブを実装
  app/notifications/page.tsx
  components/app-shell.tsx
  components/notifications-page.tsx
  db/migrations/0011_mixed_tomas.sql
  db/migrations/meta/0011_snapshot.json
  db/migrations/meta/_journal.json
  db/schema.ts
  lib/social-api.ts
  server/routes/notifications.test.ts
  server/routes/notifications.ts
  server/routes/posts.test.ts
  server/routes/posts.ts
  server/routes/users.test.ts
  server/routes/users.ts
Due: biome, eslint

通知バッヂの実装
  components/app-shell.tsx
  lib/social-api.ts
  server/routes/notifications.test.ts
  server/routes/notifications.ts
Due: biome, eslint

info通知を送信するためのスクリプトを追加
  README.md
  package.json
  scripts/send-notification.mjs
Due: biome, prettier

ユーザーのパスワードをリセットするスクリプトを追加し、READMEに使用方法を記載
  README.md
  package.json
  scripts/reset-user-password.mjs
Due: biome, prettier

Add Developer API documentation and implement Notifications and Webhooks functionality
  README.md
  app/developer/docs/[slug]/page.tsx
  app/developer/docs/_docs.ts
  app/developer/docs/_markdown-components.tsx
  app/developer/docs/page.tsx
  db/migrations/0012_chunky_junta.sql
  db/migrations/meta/0012_snapshot.json
  db/migrations/meta/_journal.json
  db/schema.ts
  docs/developer-api.md
  docs/developer-api/auth-and-tokens.md
  docs/developer-api/interactions.md
  docs/developer-api/notification-webhooks.md
  docs/developer-api/notifications.md
  docs/developer-api/overview.md
  docs/developer-api/posts.md
  docs/developer-api/profile.md
  server/routes/developer.test.ts
  server/routes/developer.ts
  server/routes/notifications.test.ts
  server/routes/notifications.ts
  server/routes/posts.ts
  server/routes/shared/notification-webhooks.ts
  server/routes/shared/notifications.ts
  server/routes/users.test.ts
  server/routes/users.ts
Due: biome, prettier, eslint

通知Webhook機能を追加し、関連するAPIエンドポイントとUIコンポーネントを実装
  README.md
  app/developer/notification-webhooks/page.tsx
  components/developer-notification-webhook-status.tsx
  components/developer-portal-page.tsx
  lib/social-api.ts
  server/routes/developer.test.ts
  server/routes/developer.ts
Due: biome, prettier, eslint

UIの崩壊を阻止
  components/app-shell.tsx
Due: biome, eslint

リプライ通知機能を追加し、関連するAPIエンドポイントとUIコンポーネントを実装
  components/notifications-page.tsx
  docs/developer-api/notification-webhooks.md
  docs/developer-api/notifications.md
  lib/social-api.ts
  server/routes/notifications.test.ts
  server/routes/posts.test.ts
  server/routes/posts.ts
  server/routes/shared/notifications.ts
Due: biome, prettier, eslint

通知未読カウントのポーリング機能を追加し、UIのバッジ表示を改善
  components/app-shell.tsx
Due: biome, eslint

通知Webhookの管理機能を追加し、作成・更新・削除・テスト送信を実装
  components/developer-notification-webhook-status.tsx
  lib/social-api.ts
  server/routes/developer.test.ts
  server/routes/developer.ts
Due: biome, eslint

通知を個別に取得可能に
  docs/developer-api/notification-webhooks.md
  docs/developer-api/notifications.md
  server/routes/developer.test.ts
  server/routes/developer.ts
  server/routes/shared/notifications.ts
Due: biome, prettier, eslint

投稿のいいね・リポスト機能を改善し、通知の作成を統合
  server/routes/developer.test.ts
  server/routes/developer.ts
  server/routes/posts.ts
  server/routes/shared/post-interactions.ts
Due: biome, eslint

feat: add post mentions functionality with notifications
  app/u/[handle]/page.tsx
  components/notifications-page.tsx
  components/post-composer.tsx
  components/post-content-text.tsx
  components/post-detail-page.tsx
  components/post-feed-item.tsx
  components/search-page.tsx
  components/timeline-feed.tsx
  db/migrations/0013_small_white_tiger.sql
  db/migrations/meta/0013_snapshot.json
  db/migrations/meta/_journal.json
  db/schema.ts
  docs/developer-api/notification-webhooks.md
  docs/developer-api/notifications.md
  docs/developer-api/overview.md
  docs/developer-api/posts.md
  lib/post-content.ts
  lib/social-api.ts
  server/routes/developer.test.ts
  server/routes/developer.ts
  server/routes/notifications.test.ts
  server/routes/posts.test.ts
  server/routes/posts.ts
  server/routes/search.test.ts
  server/routes/search.ts
  server/routes/shared/notifications.ts
  server/routes/shared/post-interactions.ts
  server/routes/shared/post-mentions.ts
  server/routes/shared/social.ts
Due: biome, prettier, eslint

feat: add API endpoints for retrieving single posts and thread data
  docs/developer-api/posts.md
  server/routes/developer.test.ts
  server/routes/developer.ts
Due: biome, prettier, eslint

feat: add numatter TypeScript developer API client
  packages/numatter-client/README.md
  packages/numatter-client/dist/index.d.ts
  packages/numatter-client/dist/index.d.ts.map
  packages/numatter-client/dist/index.js
  packages/numatter-client/package.json
  packages/numatter-client/src/index.ts
  packages/numatter-client/tsconfig.build.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, prettier, eslint

feat: add Konami code easter egg to spin top-right header button
  components/app-shell.tsx
Due: biome, eslint

fix: spin top-left logo on Konami code instead of top-right button
  components/app-shell.tsx
Due: biome, eslint

fix: prevent duplicate pasted images and add composer previews
  components/post-composer.tsx
Due: biome, eslint

fix: use non-dev link preview endpoint and per-image remove
  components/post-composer.tsx
  lib/social-api.ts
  server/routes/link-previews.ts
Due: biome, eslint

fix: cache resolved link preview for daily refresh
  server/routes/link-previews.ts
Due: biome, eslint

feat: autoplay youtube preview after card click
  components/link-preview-card.tsx
Due: biome, eslint

fix: play youtube preview via iframe js api
  components/link-preview-card.tsx
Due: biome, eslint

fix: remove forced mute for youtube autoplay
  components/link-preview-card.tsx
Due: biome, eslint

Optimize home timeline insert to avoid full remount
  components/home-page.tsx
  components/timeline-feed.tsx
Due: biome, eslint

Avoid full timeline reload on repost/reply/quote actions
  components/timeline-feed.tsx
Due: biome, eslint

Minimize feed/detail re-renders with local post updates
  components/post-detail-page.tsx
  components/search-page.tsx
  components/timeline-feed.tsx
Due: biome, eslint

Fix repost insertion in timeline without full reload
  components/home-page.tsx
  components/timeline-feed.tsx
  components/user-profile-page.tsx
Due: biome, eslint
